* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", "sans-serif";
}

/* Common */
:root {
    --primary-color: #ffb900;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.86;
    text-align: center;
    background: #171100;
    color: #fff;
    border-radius: 999px;
    padding: 0px 16px;
    min-width: 118px;
    line-height: 50px;
}

.btn:hover {
    opacity: 0.9;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 2;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

nav {
    margin-left: auto;
}

nav ul {
    display: flex;
    margin-right: 49px;
}

nav a {
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    padding: 8px 21px;
    position: relative;
}

nav li.active a::after {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 2px;
    left: 21px;
    bottom: 6px;
    border-radius: 1px;
    background: #171100;
}

nav a:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.header .btn .sign-up {
    min-width: 144px;
    padding: 6px;
}

/* Hero */
.hero {
    background: #fffcf4;
    padding-top: 56px; /* margin sẽ tạo ra khoảng trắng (dễ nhìn thấy khi để màu bg) */
}

.hero .body {
    display: flex;
}

/* Hero Left */
.hero .media-block {
    width: 48.7%;
    position: relative;
    /* để % để căn theo main-content */
}

.hero .media-block .img {
    width: 470px;
    height: 875px;
    border-radius: 20px;
    object-fit: cover; /* xử lý ảnh để giữ tỉ lệ */
}

.hero-sumary {
    position: absolute;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
    width: 270px;
    bottom: 48px;
    left: 300px;
    padding: 28px 24px;
}

.hero-sumary .course {
    display: flex;
    align-items: center;
}

.hero-sumary .course + .course {
    margin-top: 22px; /* giãn cách các phần tử mà không ảnh hưởng tới item đầu */
}

.hero-sumary .label {
    /* height: 26px;  */
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
    font-weight: 400;
}

.hero-sumary .title {
    /* height: 30px; không cần thiết */
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero-sumary .icon {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-sumary .course:nth-child(1) .icon {
    background: #fff9e8;
}

.hero-sumary .course:nth-child(2) .icon {
    background: #fcefff;
}

.hero-sumary .course:nth-child(3) .icon {
    background: #ebeaff;
}

.hero-sumary .info {
    margin-left: 16px;
}

/* Hero Right */
.hero .content-block {
    width: 51.3%;
    padding-left: 130px;
}

.content-block .heading {
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
    width: 470px;
}

.content-block .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.content-block .hero-cta {
    background: var(--primary-color);
    min-width: 180px;
    line-height: 64px;
}

.hero .action-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero .watch-video {
    border: none;
    background: transparent;
    display: flex;
    margin-left: 28px;
    align-items: center;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

.hero .watch-video .title {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1, 67;
}

.stats .desc {
    margin-top: 8px;
}

.stats .info strong {
    padding-right: 8px;
    padding-left: 28px;
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
}

.stats .info strong:first-child {
    padding-left: 0px;
}
